$body_color: #000000;
$container_width: 100vw;
$container_height: 100vh;
$box_width: 700px;
$box_height: 500px;
$box_color: #ffffff;
$off_text_color: #f6284b;

body {
    margin: 0;
    padding: 0;
    background-color : $body_color; 
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: $container_width;
    height: $container_height;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container__box {
    width: $box_width;
    height: $box_height;
    background-color : $box_color; 
    display: flex;
    flex-direction: row;
}

#container__left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #container__10off {
        margin: 16px;
        text-align: center;
        color: $off_text_color;
        span {
            font-size: 24px;
            font-weight: bold;
        }
    }
    
    #container__newsletter {
        width: 260px;
        margin: 16px;
        text-align: center;
        color: #000000;
        span {
            font-size: 18px;
        }
    }
    
    #container__form {
        width: 100%;
        height: 180px;
        display: flex;
        margin: 16px;
        flex-direction: column;
        .container__input {
            height: 44px;
            margin: 0px 8% 10px 8%;
            text-align: center;
            border: solid 1px #cbcbcb;
            color: #000000;
            font-size: 16px; 
        }
        #container__button {
            height: 44px;
            margin: 0px 8% 10px 8%;
            color: #ffffff;
            background-color: #000000;
            border: 0px;
            font-weight: bold;
        }
    }
}

#container__right {
    width: 50%;
    height: 100%;
    background-image: url('../images/foto.jpg');
}

@media screen and (max-width: 600px) {
    body{
        background-image: url('../images/foto.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        #container__box {
            width: 90%;
            height: 60%;
            flex-direction: column;
            #container__left {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                #container__newsletter {
                    width: 260px;
                    margin: 16px;
                    text-align: center;
                    color: #000000;
                    span {
                        font-size: 18px;
                    }
                }
            }
            #container__right {
                display: none;
                width: 100%;
                height: 50%;
                background-image: url('../images/foto.jpg');
            }
        }
    }
}


